<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mrbean355.android.navigation">

    <application>

        <activity
            android:name=".NavigationLandingActivity"
            android:exported="false" />

        <activity
            android:name=".basic.BasicNavigationActivity"
            android:exported="false" />

        <activity
            android:name=".bottomnav.BottomNavActivity"
            android:exported="false" />

        <activity
            android:name=".navdrawer.NavDrawerActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".navdrawer.NavDrawerActivity_Java"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
