<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mrbean355.android.dagger2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".HeroesApplication">

        <activity
            android:name=".ui.ViewHeroesActivity"
            android:exported="false" />

    </application>

</manifest>
