<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.mrbean355.android.dagger2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HeroesApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.ViewHeroesActivity" />

    </application>

</manifest>
