<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mrbean355.android.yt.enhancedadapter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".ViewPokemonActivity"
            android:exported="false" />

    </application>

</manifest>
